# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# pyblics 
public/*images
public/images
images

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Python Files 
.venv
db.sqlite3
__pycache__
.migrations

*__pycache__